<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/modernizr.custom.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.equalheights.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/particles.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.stellar.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/masonry.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/isotope.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.blueimp-gallery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<!-- Custom JS-->
<script src="{{ url_for('static', filename='js/common.js') }}"></script>
<script src="{{ url_for('static', filename='js/google-map.init.js') }}"></script>
<!-- PAGE CUSTOM JS-->
<script>
  //- init particles.js (dark config)
  particlesJS.load('section-intro', "{{ url_for('static', filename='js/particlesjs-dark-config.json') }}");
</script>