{% extends 'layout.html' %}

{% block content %}
<!-- section INTRO-->
<section id="section-intro" class="section-intro-regular">
  <div class="section-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Blog</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END section INTRO-->
<!-- section BLOG SIDEBAR singlepost-->
<section id="section-blog-singlepost" class="section-blog section-blog-singlepost">
  <div class="section-content">
    <div class="container">
      <div class="row">
        <!-- blog POST SINGLE-->
        <div class="col-lg-9 col-md-8">
          <!-- blog post full-->
          <article class="blog-post blog-post-full blog-post-full-sidebar">
            <!-- post media (image, video, iframe, etc)-->
            <div class="post-media"><img src="{{ url_for('static', filename='img/blog/preview/post3.jpg') }}" alt="" class="img-responsive"></div>
            <!-- END post media (image, video, iframe, etc)-->
            <!-- post content-->
            <div class="post-content">
              <header class="post-header">
                <h1>{{ post.title }}</h1>
              </header>
              <ul class="list-post-info">
                <li class="info-author"><a href="about.html"><i class="pe-7s-user"></i><span>{{ post.author.name }}</span></a>
                </li>
                <li class="info-datetime"><a href="blog-singlepost-sidebar.html"><i class="pe-7s-timer"></i>
                    <time datetime="2016-05-09T12:52">{{ post.created_on.strftime('%b %d, %Y | %-I:%-M%p') }}</time></a></li>
                <li class="info-comments"><a href="blog-singlepost-sidebar.html#section-comments"><i
                      class="pe-7s-comment"></i><span>{{ post.comments.count() }} Comments</span></a></li>
                <li class="info-category"><a href="#"><span>Lifestyle</span></a></li>
              </ul>
              <div class="post-descr">
                <p>{{ post.body }}</p>
              </div>
              <footer class="post-footer">
                <div class="row">
                  <div class="col-md-12">
                    <!-- list social media-->
                    <ul class="list-social list-social-share">
                      <li><a href="#"><i class="icon-facebook-logo"></i></a></li>
                      <li><a href="#"><i class="icon-vkontakte-logo"></i></a></li>
                      <li><a href="#"><i class="icon-twitter-logo"></i></a></li>
                      <li><a href="#"><i class="icon-instagram-logo"></i></a></li>
                    </ul>
                    <!-- END list social media-->
                  </div>
                  <div class="col-md-12">
                    <!-- list tags-->
                    <ul class="list-tags list-tags-heading">
                      <li><a href="#">exposure</a></li>
                      <li><a href="#">light</a></li>
                      <li><a href="#">model</a></li>
                      <li><a href="#">wedding</a></li>
                      <li><a href="#">studio</a></li>
                    </ul>
                    <!-- END list tags-->
                  </div>
                </div>
              </footer>
            </div>
            <!-- END post content-->
          </article>
          <!-- END blog post full-->
          <div id="section-comments" class="section-comments">
            <!-- comments counter-->
            <div class="row">
              <div class="col-md-12"><span class="comments-heading">{{ post.comments.count() }} Comments</span></div>
            </div>
            <!-- END comments counter-->
            <!-- comment-->
            {% for comment in comments %}
              <div class="comment-wrapper">
                <div class="row">
                  <!-- comment avatar-->
                  <div class="col-md-2 col-sm-2 col-xs-3">
                    <div class="comment-avatar"><img src="{{ url_for('static', filename='img/blog/avatars/avatar1.jpg') }}" alt="" class="img-responsive">
                    </div>
                  </div>
                  <!-- END comment avatar-->
                  <!-- comment content & control buttons-->
                  <div class="col-md-10 col-sm-10 col-xs-9">
                    <div class="comment-content">
                      <div class="comment-heading">
                        <h5>{{ comment.name }} &lt;{{ comment.email }}&gt;</h5>
                        <time datetime="2016-05-09T12:52">@ {{ comment.created_on.strftime('%b %d, %Y | %-I:%-M%p') }}</time>
                      </div>
                      <div class="comment-text">
                        <p>{{ comment.body }}</p>
                      </div>
                    </div>
                    <!-- <div class="comment-controls"><a href="#" class="btn btn-cta">Reply</a></div> -->
                  </div>
                  <!-- END comment content & control buttons-->
                </div>
              </div>
            {% endfor %}
            <!-- END comment-->
            <!-- comment form-->
            <form action="" method="POST" class="form-comment">
              {{ form.hidden_tag() }}
              <div class="row">
                <div class="col-md-12"><span class="comments-heading">Post comment</span></div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  {{ form.name(placeholder="Your Name *", class="input-left") }}
                  {{ form.email(placeholder="Your E-mail *", class="input-right") }}
                </div>
                <div class="col-md-12">
                  {{ form.body(placeholder="Your Comment...") }}
                </div>
                <div class="col-md-12">
                  {{ form.submit(class="btn btn-cta") }}
                </div>
              </div>
            </form>
            <!-- END comment form-->
          </div>
        </div>
        <!-- END blog POST SINGLE-->
        <!-- blog SIDEBAR-->
        <div class="col-lg-3 col-md-4">
          <aside class="blog-sidebar">
            <!-- sidebar section about-->
            <section class="blog-sidebar-section">
              <h3>About</h3>
              <p class="text-about"><em>Hello! I'm David Kraemer. For over 10 years I work as a professional
                  photographer. In this blog I write about cool photography stuff, my showcases, traveling and a lot
                  more. I hope will enjoy the reading!</em></p>
            </section>
            <!-- END sidebar section about-->
            <!-- sidebar section categories-->
            <section class="blog-sidebar-section">
              <h3>Categories</h3>
              <ul class="list-categories-sidebar">
                <li><a href="blog-list-sidebar.html">Sessions [16]</a></li>
                <li><a href="blog-list-sidebar.html">Hardware [8]</a></li>
                <li><a href="blog-list-sidebar.html">Lifestyle [12]</a></li>
                <li><a href="blog-list-sidebar.html">Techniques [23]</a></li>
                <li><a href="blog-list-sidebar.html">Traveling [6]</a></li>
                <li><a href="blog-list-sidebar.html">Interviews [3]</a></li>
              </ul>
            </section>
            <!-- END sidebar section categories-->
            <!-- sidebar section posts - hot-->
            <section class="blog-sidebar-section">
              <h3>Hot posts</h3>
              <ul class="list-posts list-posts-popular">
                <li><a href="blog-singlepost-sidebar.html">
                    <h5>Should you mix business and personal photos on Instagram?</h5>
                  </a></li>
                <li><a href="blog-singlepost-sidebar.html">
                    <h5>Phone booth love calls</h5>
                  </a></li>
                <li><a href="blog-singlepost-sidebar.html">
                    <h5>Mom's day - session ideas</h5>
                  </a></li>
                <li><a href="blog-singlepost-sidebar.html">
                    <h5>Featured: "Your wedding day" magazine</h5>
                  </a></li>
              </ul>
            </section>
            <!-- END sidebar section posts - hot-->
            <!-- sidebar section posts - new-->
            <section class="blog-sidebar-section">
              <h3>New posts</h3>
              <ul class="list-posts list-posts-popular">
                <li><a href="blog-singlepost-sidebar.html">
                    <h5>21 more reasons why I love photography</h5>
                  </a></li>
                <li><a href="blog-singlepost-sidebar.html">
                    <h5>Fine tuning your new DSLR camera - 5 advices</h5>
                  </a></li>
                <li><a href="blog-singlepost-sidebar.html">
                    <h5>Are you a newbie to a studio photography?</h5>
                  </a></li>
                <li><a href="blog-singlepost-sidebar.html">
                    <h5>Image of the week – I shot my wife :-)</h5>
                  </a></li>
              </ul>
            </section>
            <!-- END sidebar section posts - new-->
            <!-- sidebar section posts - tags-->
            <section class="blog-sidebar-section">
              <h3>Tags</h3>
              <ul class="list-tags">
                <li><a href="#">exposure</a></li>
                <li><a href="#">light</a></li>
                <li><a href="#">model</a></li>
                <li><a href="#">wedding</a></li>
                <li><a href="#">studio</a></li>
                <li><a href="#">cars</a></li>
                <li><a href="#">girls</a></li>
                <li><a href="#">nature</a></li>
                <li><a href="#">canon</a></li>
                <li><a href="#">nikon</a></li>
                <li><a href="#">lens</a></li>
                <li><a href="#">photoshop</a></li>
                <li><a href="#">tutorial</a></li>
                <li><a href="#">lens</a></li>
              </ul>
            </section>
            <!-- END sidebar section posts - tags-->
          </aside>
        </div>
        <!-- END blog SIDEBAR-->
      </div>
    </div>
  </div>
</section>
<!-- END section BLOG SIDEBAR singlepost		-->
{% endblock %}