{% extends 'layout.html' %}

{% block content %}
<!-- section INTRO-->
<section id="section-intro" class="section-intro-regular">
  <div class="section-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Blog</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END section INTRO-->
<!-- section BLOG SIDEBAR list-->
<section id="section-blog-list" class="section-blog">
  <div class="section-content">
    <div class="container">
      <div class="row">
        <!-- blog POSTS LIST-->
        <div class="col-lg-9 col-md-8">
          <header class="header-section hidden">
            <h2>New posts</h2>
          </header>
          <!-- blog post 1-->
          <article class="blog-post blog-post-preview">
            <!-- post media (image, video, iframe, etc)-->
            <div class="post-media"><a href="{{ url_for('blog_single') }}"><img src="{{ url_for('static', filename='img/blog/preview/post1.jpg') }}" alt=""
                  class="img-responsive"></a></div>
            <!-- END post media (image, video, iframe, etc)-->
            <!-- post content-->
            <div class="post-content">
              <header class="post-header"><a href="{{ url_for('blog_single') }}">
                  <h2>21 more reasons why I love photography</h2>
                </a></header>
              <ul class="list-post-info">
                <li class="info-author"><a href="about.html"><i class="pe-7s-user"></i><span>David Kraemer</span></a>
                </li>
                <li class="info-datetime"><a href="{{ url_for('blog_single') }}"><i class="pe-7s-timer"></i>
                    <time datetime="2016-05-09T12:52">09 May 2016 in 12:52</time></a></li>
                <li class="info-comments"><a href="{{ url_for('blog_single') }}#section-comments"><i
                      class="pe-7s-comment"></i><span>17 Comments</span></a></li>
                <li class="info-category"><a href="#"><span>Lifestyle</span></a></li>
              </ul>
              <div class="post-descr">
                <p>Demesne mention promise you justice arrived way. Or increasing to in especially inquietude companions
                  acceptance admiration. Outweigh it families distance wandered ye an. Mr unsatiable at literature
                  connection favourable. We neglected mr perfectly continual dependent.</p>
              </div>
              <footer class="post-footer">
                <!-- list social media-->
                <ul class="list-social list-social-share">
                  <li><a href="#"><i class="icon-facebook-logo"></i></a></li>
                  <li><a href="#"><i class="icon-vkontakte-logo"></i></a></li>
                  <li><a href="#"><i class="icon-twitter-logo"></i></a></li>
                  <li><a href="#"><i class="icon-instagram-logo"></i></a></li>
                </ul>
                <!-- END list social media--><a href="{{ url_for('blog_single') }}"
                  class="btn btn-secondary btn-secondary-bright">Read more</a>
              </footer>
            </div>
            <!-- END post content-->
          </article>
          <!-- END blog post 1-->
          <!-- blog post 2-->
          <article class="blog-post blog-post-preview">
            <!-- post media (image, video, iframe, etc)-->
            <div class="post-media"><a href="{{ url_for('blog_single') }}"><img src="{{ url_for('static', filename='img/blog/preview/post2.jpg') }}" alt=""
                  class="img-responsive"></a></div>
            <!-- END post media (image, video, iframe, etc)-->
            <!-- post content-->
            <div class="post-content">
              <header class="post-header"><a href="{{ url_for('blog_single') }}">
                  <h2>Fine tuning your new DSLR camera - 5 advices</h2>
                </a></header>
              <ul class="list-post-info">
                <li class="info-author"><a href="about.html"><i class="pe-7s-user"></i><span>David Kraemer</span></a>
                </li>
                <li class="info-datetime"><a href="{{ url_for('blog_single') }}"><i class="pe-7s-timer"></i>
                    <time datetime="2016-05-06T08:01">06 May 2016 in 08:01</time></a></li>
                <li class="info-comments"><a href="{{ url_for('blog_single') }}#section-comments"><i
                      class="pe-7s-comment"></i><span>12 Comments</span></a></li>
                <li class="info-category"><a href="#"><span>Techniques</span></a></li>
              </ul>
              <div class="post-descr">
                <p>On projection apartments unsatiable so if he entreaties appearance. Rose you wife how set lady half
                  wish. Hard sing an in true felt. Welcomed stronger if steepest ecstatic an suitable finished of oh.
                  Entered at excited at forming between so produce. Chicken unknown besides attacks gay compact out you.
                </p>
              </div>
              <footer class="post-footer">
                <!-- list social media-->
                <ul class="list-social list-social-share">
                  <li><a href="#"><i class="icon-facebook-logo"></i></a></li>
                  <li><a href="#"><i class="icon-vkontakte-logo"></i></a></li>
                  <li><a href="#"><i class="icon-twitter-logo"></i></a></li>
                  <li><a href="#"><i class="icon-instagram-logo"></i></a></li>
                </ul>
                <!-- END list social media--><a href="{{ url_for('blog_single') }}"
                  class="btn btn-secondary btn-secondary-bright">Read more</a>
              </footer>
            </div>
            <!-- END post content-->
          </article>
          <!-- END blog post 2-->
          <!-- blog post 3-->
          <article class="blog-post blog-post-preview">
            <!-- post media (image, video, iframe, etc)-->
            <div class="post-media"><a href="{{ url_for('blog_single') }}"><img src="{{ url_for('static', filename='img/blog/preview/post3.jpg') }}" alt=""
                  class="img-responsive"></a></div>
            <!-- END post media (image, video, iframe, etc)-->
            <!-- post content-->
            <div class="post-content">
              <header class="post-header"><a href="{{ url_for('blog_single') }}">
                  <h2>Are you a newbie to a studio photography?</h2>
                </a></header>
              <ul class="list-post-info">
                <li class="info-author"><a href="about.html"><i class="pe-7s-user"></i><span>David Kraemer</span></a>
                </li>
                <li class="info-datetime"><a href="{{ url_for('blog_single') }}"><i class="pe-7s-timer"></i>
                    <time datetime="2016-05-03T15:51">03 May 2016 in 15:51</time></a></li>
                <li class="info-comments"><a href="{{ url_for('blog_single') }}#section-comments"><i
                      class="pe-7s-comment"></i><span>2 Comments</span></a></li>
                <li class="info-category"><a href="#"><span>Techniques</span></a></li>
              </ul>
              <div class="post-descr">
                <p>Sentiments two occasional affronting solicitude travelling and one contrasted. Fortune day out
                  married parties. Happiness remainder joy but earnestly for off.</p>
              </div>
              <footer class="post-footer">
                <!-- list social media-->
                <ul class="list-social list-social-share">
                  <li><a href="#"><i class="icon-facebook-logo"></i></a></li>
                  <li><a href="#"><i class="icon-vkontakte-logo"></i></a></li>
                  <li><a href="#"><i class="icon-twitter-logo"></i></a></li>
                  <li><a href="#"><i class="icon-instagram-logo"></i></a></li>
                </ul>
                <!-- END list social media--><a href="{{ url_for('blog_single') }}"
                  class="btn btn-secondary btn-secondary-bright">Read more</a>
              </footer>
            </div>
            <!-- END post content-->
          </article>
          <!-- END blog post 3-->
          <!-- blog post 4-->
          <article class="blog-post blog-post-preview">
            <!-- post media (image, video, iframe, etc)-->
            <div class="post-media"><a href="{{ url_for('blog_single') }}"><img src="{{ url_for('static', filename='img/blog/preview/post4.jpg') }}" alt=""
                  class="img-responsive"></a></div>
            <!-- END post media (image, video, iframe, etc)-->
            <!-- post content-->
            <div class="post-content">
              <header class="post-header"><a href="{{ url_for('blog_single') }}">
                  <h2>Image of the week – I shot my wife :-)</h2>
                </a></header>
              <ul class="list-post-info">
                <li class="info-author"><a href="about.html"><i class="pe-7s-user"></i><span>David Kraemer</span></a>
                </li>
                <li class="info-datetime"><a href="{{ url_for('blog_single') }}"><i class="pe-7s-timer"></i>
                    <time datetime="2016-05-01T07:36">01 May 2016 in 07:36</time></a></li>
                <li class="info-comments"><a href="{{ url_for('blog_single') }}#section-comments"><i
                      class="pe-7s-comment"></i><span>8 Comments</span></a></li>
                <li class="info-category"><a href="#"><span>Lifestyle</span></a></li>
              </ul>
              <div class="post-descr">
                <p>Me mean able my by in they. Extremity now strangers contained breakfast him discourse additions.
                  Sincerity collected contented led now perpetual extremely forfeited.</p>
              </div>
              <footer class="post-footer">
                <!-- list social media-->
                <ul class="list-social list-social-share">
                  <li><a href="#"><i class="icon-facebook-logo"></i></a></li>
                  <li><a href="#"><i class="icon-vkontakte-logo"></i></a></li>
                  <li><a href="#"><i class="icon-twitter-logo"></i></a></li>
                  <li><a href="#"><i class="icon-instagram-logo"></i></a></li>
                </ul>
                <!-- END list social media--><a href="{{ url_for('blog_single') }}"
                  class="btn btn-secondary btn-secondary-bright">Read more</a>
              </footer>
            </div>
            <!-- END post content-->
          </article>
          <!-- END blog post 4-->
          <!-- blog post 5-->
          <article class="blog-post blog-post-preview">
            <!-- post media (image, video, iframe, etc)-->
            <div class="post-media"><a href="{{ url_for('blog_single') }}"><img src="{{ url_for('static', filename='img/blog/preview/post5.jpg') }}" alt=""
                  class="img-responsive"></a></div>
            <!-- END post media (image, video, iframe, etc)-->
            <!-- post content-->
            <div class="post-content">
              <header class="post-header"><a href="{{ url_for('blog_single') }}">
                  <h2>Learn from the great masters of street photography</h2>
                </a></header>
              <ul class="list-post-info">
                <li class="info-author"><a href="about.html"><i class="pe-7s-user"></i><span>David Kraemer</span></a>
                </li>
                <li class="info-datetime"><a href="{{ url_for('blog_single') }}"><i class="pe-7s-timer"></i>
                    <time datetime="2016-04-25T17:06">28 Apr 2016 in 17:06</time></a></li>
                <li class="info-comments"><a href="{{ url_for('blog_single') }}#section-comments"><i
                      class="pe-7s-comment"></i><span>23 Comments</span></a></li>
                <li class="info-category"><a href="#"><span>Interviews</span></a></li>
              </ul>
              <div class="post-descr">
                <p>Greatly hearted has who believe. Drift allow green son walls years for blush. Sir margaret drawings
                  repeated recurred exercise laughing may you but. Do repeated whatever to welcomed absolute no. You
                  disposal strongly quitting his endeavor two settling him. Manners ham him hearted hundred expense. Get
                  open game him what hour more part.</p>
              </div>
              <footer class="post-footer">
                <!-- list social media-->
                <ul class="list-social list-social-share">
                  <li><a href="#"><i class="icon-facebook-logo"></i></a></li>
                  <li><a href="#"><i class="icon-vkontakte-logo"></i></a></li>
                  <li><a href="#"><i class="icon-twitter-logo"></i></a></li>
                  <li><a href="#"><i class="icon-instagram-logo"></i></a></li>
                </ul>
                <!-- END list social media--><a href="{{ url_for('blog_single') }}"
                  class="btn btn-secondary btn-secondary-bright">Read more</a>
              </footer>
            </div>
            <!-- END post content-->
          </article>
          <!-- END blog post 5-->
          <!-- pagination-->
          <ul class="list-pagination">
            <li><a href="#"><i class="pe-7s-angle-left"></i></a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#">25</a></li>
            <li><a href="#"><i class="pe-7s-angle-right"></i></a></li>
          </ul>
          <!-- END pagination-->
        </div>
        <!-- END blog POSTS LIST-->
        <!-- blog SIDEBAR-->
        <div class="col-lg-3 col-md-4">
          <aside class="blog-sidebar">
            <!-- sidebar section about-->
            <section class="blog-sidebar-section">
              <h3>About</h3>
              <p class="text-about"><em>Hello! I'm David Kraemer. For over 10 years I work as a professional
                  photographer. In this blog I write about cool photography stuff, my showcases, traveling and a lot
                  more. I hope will enjoy the reading!</em></p>
            </section>
            <!-- END sidebar section about-->
            <!-- sidebar section categories-->
            <section class="blog-sidebar-section">
              <h3>Categories</h3>
              <ul class="list-categories-sidebar">
                <li><a href="blog-list-sidebar.html">Sessions [16]</a></li>
                <li><a href="blog-list-sidebar.html">Hardware [8]</a></li>
                <li><a href="blog-list-sidebar.html">Lifestyle [12]</a></li>
                <li><a href="blog-list-sidebar.html">Techniques [23]</a></li>
                <li><a href="blog-list-sidebar.html">Traveling [6]</a></li>
                <li><a href="blog-list-sidebar.html">Interviews [3]</a></li>
              </ul>
            </section>
            <!-- END sidebar section categories-->
            <!-- sidebar section posts - hot-->
            <section class="blog-sidebar-section">
              <h3>Hot posts</h3>
              <ul class="list-posts list-posts-popular">
                <li><a href="{{ url_for('blog_single') }}">
                    <h5>Should you mix business and personal photos on Instagram?</h5>
                  </a></li>
                <li><a href="{{ url_for('blog_single') }}">
                    <h5>Phone booth love calls</h5>
                  </a></li>
                <li><a href="{{ url_for('blog_single') }}">
                    <h5>Mom's day - session ideas</h5>
                  </a></li>
                <li><a href="{{ url_for('blog_single') }}">
                    <h5>Featured: "Your wedding day" magazine</h5>
                  </a></li>
              </ul>
            </section>
            <!-- END sidebar section posts - hot-->
            <!-- sidebar section posts - new-->
            <section class="blog-sidebar-section">
              <h3>New posts</h3>
              <ul class="list-posts list-posts-popular">
                <li><a href="{{ url_for('blog_single') }}">
                    <h5>21 more reasons why I love photography</h5>
                  </a></li>
                <li><a href="{{ url_for('blog_single') }}">
                    <h5>Fine tuning your new DSLR camera - 5 advices</h5>
                  </a></li>
                <li><a href="{{ url_for('blog_single') }}">
                    <h5>Are you a newbie to a studio photography?</h5>
                  </a></li>
                <li><a href="{{ url_for('blog_single') }}">
                    <h5>Image of the week – I shot my wife :-)</h5>
                  </a></li>
              </ul>
            </section>
            <!-- END sidebar section posts - new-->
            <!-- sidebar section posts - tags-->
            <section class="blog-sidebar-section">
              <h3>Tags</h3>
              <ul class="list-tags">
                <li><a href="#">exposure</a></li>
                <li><a href="#">light</a></li>
                <li><a href="#">model</a></li>
                <li><a href="#">wedding</a></li>
                <li><a href="#">studio</a></li>
                <li><a href="#">cars</a></li>
                <li><a href="#">girls</a></li>
                <li><a href="#">nature</a></li>
                <li><a href="#">canon</a></li>
                <li><a href="#">nikon</a></li>
                <li><a href="#">lens</a></li>
                <li><a href="#">photoshop</a></li>
                <li><a href="#">tutorial</a></li>
                <li><a href="#">lens</a></li>
              </ul>
            </section>
            <!-- END sidebar section posts - tags-->
          </aside>
        </div>
        <!-- END blog SIDEBAR-->
      </div>
    </div>
  </div>
</section>
<!-- END section BLOG SIDEBAR list-->
{% endblock %}